!!! 5
html(lang="en")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# procrastinaid: http://ogp.me/ns/fb/procrastinaid#")
		meta(property="fb:app_id", content="349863548395860")
		meta(property="og:type", content="procrastinaid:task") 
		meta(property="og:url", content="http://localhost:8124/fb/task/#{_id}") 
		meta(property="og:title", content="#{title}") 
		meta(property="og:image", content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png") 