
script#task-template(type="text/x-handlebars-template")
	|<div style="padding-bottom: 20px;">
	|	<h2>{{name}}</h2>
	|	<h6>{{start}} - Reminding {{interval}}</h6>
	|	<blockquote>
	|		<P>{{description}}</P>
	|	</blockquote>
	|	<a class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a> <a class="btn btn-success"><i class="icon-ok icon-white"></i> Completed</a>
	|</div>

script
	$(function(){app.init();});
div.container
	div#task-list